<% @question.each do |question| %>
  <h3><%= question.sentence %></h2>
  <br>
  <h5>1.<%= question.supplement1 %></h4>
  <br>
  <h5>2.<%= question.supplement2 %></h4>
  <br>
  <h5>3.<%= question.supplement3 %></h4>
  <br>
  <h5>4.<%= question.supplement4 %></h4>
  <br>
  <h5>5.<%= question.supplement5 %></h4>
  <br>
  <% question.choices.each do |question_choice| %>
    <%= link_to question_choice.choice1, "#" %>
    <%= link_to question_choice.choice2, "#" %>
    <%= link_to question_choice.choice3, "#" %>
    <%= link_to question_choice.choice4, "#" %>
    <%= link_to question_choice.choice5, "#" %>
  <% end %>
  <br>
  <%= question.answer %>
<% end %>
<br>
<%= link_to "戻る", categorize1_question_path %>
