<% @question.each do |question| %>
  <h2><%= question.sentence %></h2>
  <br>
  <% if question.sub_sentence.present? %>
    <h2><%= question.sub_sentence %></h2>
    <br>
  <% end %>
  <% if question.sub_sentence2.present? %>
    <h2><%= question.sub_sentence2 %></h2>
    <br>
  <% end %>
  <% if question.sub_sentence3.present? %>
    <h2><%= question.sub_sentence3 %></h2>
    <br>
  <% end %>
  <% if question.sub_sentence4.present? %>
    <h2><%= question.sub_sentence4 %></h2>
    <br>
  <% end %>
  <% if question.supplement1.present? %>
    <%= question.supplement1 %>
    <br>
    <br>
  <% end %>
  <% if question.supplement2.present? %>
    <%= question.supplement2 %>
    <br>
    <br>
  <% end %>
  <% if question.supplement3.present? %>
    <%= question.supplement3 %>
    <br>
    <br>
  <% end %>
  <% if question.supplement4.present? %>
    <%= question.supplement4 %>
    <br>
    <br>
  <% end %>
  <% if question.supplement5.present? %>
    <%= question.supplement5 %>
    <br>
    <br>
  <% end %>
  <% if question.sub_sentence5.present? %>
    <%= question.sub_sentence5 %>
    <br>
  <% end %>
  <% question.choices.each do |question_choice| %>
    <%= link_to question_choice.choice1, result_question_path(@question) %>
    <%= link_to question_choice.choice2, result_question_path(@question) %>
    <%= link_to question_choice.choice3, result_question_path(@question) %>
    <%= link_to question_choice.choice4, result_question_path(@question) %>
    <%= link_to question_choice.choice5, result_question_path(@question) %>
  <% end %>
<% end %>
<br>
<%= link_to "戻る", categorize1_question_path %>
