<h1>過去問道場</h1>
<%= link_to "年度別に問題を解く", categorize1_question_path %>
<%= link_to "分野別に問題を解く", categorize2_question_path %>
<h3>甲</h1>
  <%= link_to "法規", show_houki_kou_question_path %>
  <br>
  <%= link_to "基礎", show_kiso_kou_question_path %>
  <br>
  <%= link_to "ガス技術", show_gijutsu_kou_question_path %>
<h3>乙</h1>
  <%= link_to "法規", show_houki_otsu_question_path %>
  <br>
  <%= link_to "基礎", show_kiso_otsu_question_path %>
  <br>
  <%= link_to "ガス技術", show_gijutsu_otsu_question_path %>
