<h1>過去問道場</h1>
<%= link_to "年度別に問題を解く", categorize1_question_path %>
<%= link_to "分野別に問題を解く", categorize2_question_path %>
<h3>甲</h1>
  <%= link_to "令和２年度", show_reiwa2_kou_question_path %>
  <br>
  <%= link_to "令和３年度", show_reiwa3_kou_question_path %>
<h3>乙</h1>
  <%= link_to "令和２年度", show_reiwa2_otsu_question_path %>
  <br>
  <%= link_to "令和３年度", show_reiwa2_otsu_question_path %>