<h1>過去問道場</h1>
<%= link_to "年度別に問題を解く", categorize1_question_path %>
<%= link_to "分野別に問題を解く", categorize2_question_path %>
<% @questions.exams.each do |question| %>
  <h1>甲</h1>
    <% if question.kou? && question.year_id == 1 %>
      <%= link_to "令和２年度", "#" %>
    <% end %>
    <br>
    <% if question.kou? && question.year_id == 2 %>
      <%= link_to "令和３年度", "#" %>
    <% end %>
  <h1>乙</h1>
    <% if question.otsu? && question.year_id == 1 %>
      <%= link_to "令和２年度", "#" %>
    <% end %>
    <br>
    <% if question.otsu? && question.year_id == 2 %>
      <%= link_to "令和３年度", "#" %>
    <% end %>
<% end %>