<h2><%= @question.sentence %></h2>
<br>
<%= @question.supplement1 %>
<br>
<%= @question.supplement2 %>
<br>
<%= @question.supplement3 %>
<br>
<%= @question.supplement4 %>
<br>
<%= @question.supplement5 %>
<br>
<%= @question.answer %>
<br>
<%= link_to "戻る",questions_path %>