<div class="w-4/5 container mx-auto">
  <div class="flex justify-center text-4xl font-extrabold mt-2 mb-4">
    <h1>グループ一覧ページ</h1>
  </div>
  <div>
    <%= search_form_for @q, url: search_groups_path do |f| %>
      <%= f.search_field :name_cont, class: "container mx-auto bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      <div class="text-center">
        <%= f.submit '検索', class: "inline-block bg-gray-700 text-white px-2 py-1 mt-1 rounded-md" %>
      </div>
    <% end %>
  </div>
  <% if !current_user.groups.present? && current_user.kou? || current_user.admin? %>
      <%= link_to "グループ作成", new_group_path, class: "btn btn-primary" %>
  <% end %>
  <% if @groups.present? %>
    <div class='col-md-10 offset-md-1'>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th></th>
            <th>グループ名</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td>
              <%= link_to(group_path(group)) do %>
                <%= image_tag group.avatar.url, class: 'rounded-circle', size: '100x100' %>
              <% end %>
            </td>
            <td class="align-middle">
              <%= link_to(group_path(group)) do %>
                <%= group.name %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p>NO RESULT</p>
  <% end %>
  <div class="flex justify-center">
    <%= paginate @groups %>
  </div>
  <br>
</div>