<h1><%= t '.title' %></h1>
  <% unless GroupUser.exists?(group_id: @group.id, user_id: current_user.id) %>
    <div class="participation">
      <%= link_to '参加する', join_group_path(@group) %>
    </div>
  <% else%>
    <div class="participation">
      <%= link_to '退会する', withdrawal_group_path(@group), method: :delete %>
    </div>
  <% end %>
<tr>
  <th scope="row"></th>
  <td><%= image_tag @group.avatar.url, class: 'rounded-square', size: '200x200' %></td>
</tr>
<br>
<p>グループのID:<%= @group.id %></p>
<p>作成者のID:<%= @group.owner_id %></p>
<p>メンバー</p>
<% @group.users.each do |group_user| %>
  <%= link_to group_user.decorate.full_name, user_path(group_user) %>
  <% if current_user.admin? %>
    <%= link_to "退会させる", withdrawal_member_group_path(@group), method: :delete %>
  <% end %>
  <br>
<% end %>
<%= render 'crud_menus', group: @group %>
