<h1><%= t '.title' %></h1>
<% unless GroupUser.exists?(group_id: @group.id, user_id: current_user.id) %>
  <div class="participation">
    <%= link_to '参加する', join_group_path(@group) %>
  </div>
<% else %>
  <div class="participation">
    <%= link_to '退会する', withdrawal_group_path(@group), method: :delete %>
  </div>
<% end %>
<p>グループのID:<%= @group.id %></p>
<p>作成者のID:<%= @group.owner_id %></p>
<p>メンバー</p>
<% @group.users.each do |group_user| %>
<%= group_user.decorate.full_name %>
<br>
<% end %>
<%= render 'crud_menus', group: @group %>