<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1 class="text-4xl text-center"><%= t '.title' %></h1>
      <br>
      <%= form_with model: @user, local: true do |f| %>
        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name,placeholder: "てくてく", class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field :first_name,placeholder: "ボーイズ", class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :certification %>
          <br>
          <%= f.select :certification, options_for_select(User.certifications_i18n.invert), {prompt: "選択してください"}, class: "prefecture-select border-solid border-2 rounded" %>
        </div>
        <div class="form-group">
          <%= f.label :comment %>
          <%= f.text_field :comment, placeholder: "絶対合格するぞ！", class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :user_image %>
          <%= f.file_field :user_image, class: 'form-control mb-3', accept: 'image/*' %>
          <%= f.hidden_field :user_image_cache %>
        </div>
        <%= f.submit (t 'defaults.register'), class: 'btn btn-primary' %>
      <% end %>
      <div class='text-center'>
        <%= link_to (t '.to_login_page'), login_path, class: "border-solid border-bottom" %>
      </div>
    </div>
  </div>
</div>