<h1><%= t '.title' %></h1>
<p>UserのID:<%= @user.id %></p>
<p>Userの名前:<%= @user.first_name %></p>
<p>Userの名前:<%= @user.last_name %></p>
<% @user.groups.each do |group| %>
  <p>所属グループ:<%= group.name %></p>
<% end %>
<p>Userのメールアドレス:<%= @user.email %></p>
<%= link_to 'edit', edit_user_path(@user) %>