<div class="w-4/5 container mx-auto">
  <div>
    <div class="md:text-4xl text-3xl font-extrabold mt-2 mb-4 text-center">
      <h1><%= t '.title' %></h1>
    </div>
    <div  class="flex flex-wrap justify-center">
      <%= image_tag @user.avatar.url, size: '150x150', class: 'rounded-circle mr15' %>
    </div>
    </div>
    <br>
    <div class="text-center">
      <p class="text-2xl"><%= @user.decorate.full_name %></p>
      <br>
      <div class="w-2/5 mx-auto ">
        <% @user.groups.each do |group| %>
          <p class="font-bold">所属グループ</p>
          <p><%= link_to group.name, group_path(group) %></p>
        <% end %>
        <br>
        <p class="font-bold">最近の試験結果</p>
        <% if Paper.exists?(user_id: @user.id) %>
          <p class="border-solid text-sky-500"><%= link_to '試験結果：' + (l @paper[0].updated_at), result_user_path(@user) %></p>
        <% else %>
          <p class="border-solid text-sky-500">試験結果なし</p>
        <% end %>
        <br>
        <% if @user.comment %>
          <p class="font-bold">ひとこと</p>
          <div><%= @user.comment %></div>
          <br>
        <% end %>
        <% if current_user.id == @user.id %>
          <%= link_to '編集する', edit_user_path(@user), class:"btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <br>
</div>
