<nav class='navbar navbar-expand-lg navigation navbar-dark bg-indigo-700'>
  <div class = "header-left">
    <%= link_to root_path do %>
      <%= image_tag 'top-logo.png', :width => '450', :height => '150' %>
    <% end %>
  </div>
  <div class='collapse navbar-collapse float-right' id='navbarSupportedContent'>
    <ul class=' navbar-nav main-nav align-items-center'>
      <li class='nav-item'>
        <%= link_to (t 'defaults.group_search'), groups_path, class: 'nav-link' %>
      </li>
      <li class='nav-item dropdown dropdown-slide'>
        <a href='#' class='nav-link' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' id='header-profile'>
          <%= image_tag current_user.avatar_url, size: '40x40', class: 'rounded-circle mr15'%>
        </a>
        <div class='dropdown-menu dropdown-menu-right' >
          <%= link_to current_user.decorate.full_name, user_path(current_user), class: 'dropdown-item' %>
          <div class='dropdown-item dropdown-divider'></div>
          <% if current_user.groups.present? %>
            <% current_user.groups.each do |group| %>
              <%= link_to group.name, group_path(group), class: 'dropdown-item' %>
            <% end %>
          <% else %>
            <p class = 'dropdown-item'>無所属</p>
          <% end %>
          <%= link_to (t 'defaults.logout'), logout_path, class: 'dropdown-item', method: :delete %>
        </div>
      </li>
    </ul>
  </div>
</nav>