<% @questions.each do |question| %>
  <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl mb-1">
    <div class="md:flex">
      <div class="p-8">
        <div class="uppercase tracking-wide text-sm text-black font-semibold">
          <%= question.sentence %>
        </div>
        <div>
          <% if question.sub_sentence.present? %>
            <p class="mt-2 text-black"><%= question.sub_sentence %></p>
          <% end %>
        </div>
          <br>
        <div>
          <% if question.sub_sentence2.present? %>
            <p class="mt-2 text-black"><%= question.sub_sentence2 %></p>
          <% end %>
        </div>
        <div>
          <% if question.sub_sentence3.present? %>
            <p class="mt-2 text-black"><%= question.sub_sentence3 %></p>
          <% end %>
        </div>
        <div>
          <% if question.sub_sentence4.present? %>
            <p class="mt-2 text-black"><%= question.sub_sentence4 %></p>
          <% end %>
        </div>
        <div>
          <% if question.supplement1.present? %>
            <p class="mt-2 text-black"><%= question.supplement1 %></p>
          <% end %>
        </div>
        <div>
          <% if question.supplement2.present? %>
            <p class="mt-2 text-black"><%= question.supplement2 %></p>
          <% end %>
        </div>
        <div>
          <% if question.supplement3.present? %>
            <p class="mt-2 text-black"><%= question.supplement3 %></p>
          <% end %>
        </div>
        <div>
          <% if question.supplement4.present? %>
            <p class="mt-2 text-black"><%= question.supplement4 %></p>
          <% end %>
        </div>
        <div>
          <% if question.supplement5.present? %>
            <p class="mt-2 text-black"><%= question.supplement5 %></p>
          <% end %>
        </div>
        <div>
          <% if question.sub_sentence5.present? %>
            <p class="mt-2 text-black"><%= question.sub_sentence5 %></p>
          <% end %>
        </div>
          <br>
        <div>
          <%= render partial: 'answer', locals: { question: question } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<br>
<%= link_to "戻る", category_questions_path %>