<div class="w-4/5 container mx-auto">
  <div class="text-center text-6xl font-extrabold font-serif mt-2 mb-4">
    <h1>過去問道場</h1>
  </div>
  <div class="text-center border-solid border-b-2 border-gray-600 pb-4">
    <div class="inline-block text-2xl">
      <%= link_to "年度別に問題を解く", year_questions_path, class: "mx-3" %>
    </div>
    <div class="border-solid border-b-2 border-blue-600 text-blue-600 mx-3 pb-1 inline-block text-2xl">
      <%= link_to "分野別に問題を解く", category_questions_path %>
    </div>
  </div>
  <div class="text-center mt-5 flex justify-evenly">
    <div>
      <div class="inline-block text-3xl">
        <h3>甲</h1>
      </div>
      <div class="mt-4">
        <div class="mb-1">
          <%= link_to "法規", category_question_path(current_user, exam_id: 7) %>
        </div>
        <div class="my-1">
          <%= link_to "基礎", category_question_path(current_user, exam_id: 8) %>
        </div>
        <div class="my-1">
          <%= link_to "ガス技術", category_question_path(current_user, exam_id: 9) %>
        </div>
      </div>
    </div>
  <br>
    <div>
      <div class="inline-block text-3xl">
        <h3>乙</h1>
      </div>
      <div class="mt-4">
        <div class="my-1">
          <%= link_to "法規", category_question_path(current_user, exam_id: 1), class: "mb-1" %>
        </div>
        <div class="my-1">
          <%= link_to "基礎", category_question_path(current_user, exam_id: 2), class: "my-1" %>
        </div>
        <div class="my-1">
          <%= link_to "ガス技術", category_question_path(current_user, exam_id: 3), class: "my-1" %>
        </div>
      </div>
    </div>
  </div>
</div>