<% question.choices.each do |question_choice| %>
  <div class="flex justify-center">
    <div class="mx-1 text-white bg-green-500 btn">
      <%= link_to question_paper_path(choice_number: 1,question_paper_id: question_paper.id,question_id: question.id), id: "js-result-choice-for-question-#{question.id}", method: :patch, class: "hover:text-white" do %>
        <%= question_choice.choice1 %>
      <% end %>
    </div>
    <div class="mx-1 text-white bg-green-500 btn">
      <%= link_to question_paper_path(choice_number: 2,question_paper_id: question_paper.id,question_id: question.id), id: "js-result-choice-for-question-#{question.id}", method: :patch, class: "hover:text-white" do%>
        <%= question_choice.choice2 %>
      <% end %>
    </div>
    <div class="mx-1 text-white bg-green-500 btn">
      <%= link_to question_paper_path(choice_number: 3,question_paper_id: question_paper.id,question_id: question.id), id: "js-result-choice-for-question-#{question.id}", method: :patch, class: "hover:text-white" do%>
        <%= question_choice.choice3 %>
      <% end %>
    </div>
    <div class="mx-1 text-white bg-green-500 btn">
      <%= link_to question_paper_path(choice_number: 4,question_paper_id: question_paper.id,question_id: question.id), id: "js-result-choice-for-question-#{question.id}", method: :patch, class: "hover:text-white" do%>
        <%= question_choice.choice4 %>
      <% end %>
    </div>
    <div class="mx-1 text-white bg-green-500 btn">
      <%= link_to question_paper_path(choice_number: 5,question_paper_id: question_paper.id,question_id: question.id), id: "js-result-choice-for-question-#{question.id}", method: :patch, class: "hover:text-white" do%>
        <%= question_choice.choice5 %>
      <% end %>
    </div>
  </div>
<% end %>